@* @model Admin *@

@model IEnumerable<Aircraft_project.Models.Admin>


@{
    ViewData["Title"] = "Admin";
}

<div id="content">
    <!-- Topbar -->
    @Html.Partial("~/Views/Shared/_DashboardTopNavbar.cshtml")
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Create Admin</h1>
            <div>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3">
                    <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                </a>
                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal" data-target="#newAdminModal">
                    <i class="fas fa-user-plus fa-sm text-white-50"></i> New Admin
                </button>

            </div>
        </div>

        
        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Admin Table</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Create At</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var admin in Model)
                                {
                                    <tr>
                                        <td>@admin.Name</td>
                                        <td>@admin.Email</td>
                                        <td>@admin.Password</td>
                                        <td>@admin.CreatedAt.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal" id="newAdminModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create New Admin</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="CreateAdmin" method="post">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="Name" required />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="Email" required />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="Password" required />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create Admin</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- End of Main Content -->
