@model IEnumerable<Aircraft_project.Models.Users>
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Users";
}

@section Scripts {
    <script>
        // Function to get items from local storage
        function getLocalStorageItem(key) {
            const item = localStorage.getItem(key);
            return item ? JSON.parse(item).value : null;
        }

        // Check if user is logged in using local storage
        const AdminId = getLocalStorageItem('AdminId');
        if (!AdminId) {
            // User is not logged in, redirect to the login page
            window.location.href = '/Dashboard/AdminLogin';
        }
        else {
            // Update the local storage with the session values if not already set
            const storedAdminId = getLocalStorageItem('AdminId');
            const storedUserName = getLocalStorageItem('AdminName');

            if (!storedAdminId || !storedAdminName) {
                localStorage.setItem('AdminId', JSON.stringify({ value: AdminId }));
                localStorage.setItem('AdminName', JSON.stringify({ value: '@HttpContextAccessor.HttpContext.Session.GetString("AdminName")' }));
            }
        }
    </script>
}

<div id="content">
    <!-- Topbar -->
    @Html.Partial("~/Views/Shared/_DashboardTopNavbar.cshtml")
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Users Information</h1>
            @* <div>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
            </a>
            </div> *@
        </div>

        <div class="row">
            <div class="card shadow mb-4 w-100">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Users Table</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile No</th>
                                    <th>Address</th>
                                    <th>Create Date</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var users in Model)
                                {
                                    <tr>
                                        <td>@users.Name</td>
                                        <td>@users.Email</td>
                                        <td>@users.MobileNumber</td>
                                        <td>@users.Address</td>
                                        <td>@users.CreatedAt.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->
