@model IEnumerable<Aircraft_project.Models.Cart>

@{
    ViewData["Title"] = "Checkout page";
}

<div class="container">
    <form id="checkoutForm" method="POST">
        <div class="row align-text-center mt-3 mb-3">
            <div class="col-md-7 bg-light">
                <h5 class="text-muted p-2 mt-3">Checkout Details</h5>
                <hr>
                <div class="container">
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="name">Name</label>
                                <input type="text" name="name" id="name" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="email">Email address</label>
                                <input type="email" name="email" value="" id="email" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="phone">Phone number</label>
                                <input type="tel" name="phone" value="" id="phone" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="pincode">Pin Code</label>
                                <input type="number" name="pincode" id="pincode" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <div class="form-outline">
                                <label class="form-label" for="address">Address</label>
                                <textarea name="address" id="address" cols="50" class="form-control"
                                    rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2nd column -->
            <div class="col-md-5 shadow text-muted">
                <h5 class="text-center text-muted p-2 mt-3">Ordered Details</h5>
                <hr>

                <div class="product_data">
                    <!-- Product details section (example) -->
                    @foreach (var cartItem in Model)
                    {
                        <div class="row p-3 product_data align-items-center border">
                            <!-- image section -->
                            <div class="col-sm-3 mt-2 mb-2">
                                <img src="@cartItem.Aircraft.ImagePath" alt="@cartItem.Aircraft.Name" width=""
                                    class="img-fluid rounded">
                            </div>
                            <!-- name -->
                            <div class="col-sm-3">
                                <h6>@cartItem.Aircraft.Name</h6>
                            </div>
                            <!-- price -->
                            <div class="col-sm-4">
                                <h6>@cartItem.Aircraft.Price</h6>
                            </div>
                            <!-- qty -->
                            <div class="col-sm-2">
                                <h6>x @cartItem.Quantity</h6>
                            </div>
                        </div>
                    }
                </div>
                <hr>
                <!-- Total Price section -->
                <div class="p-3 text-muted">
                    <h5>Total Price: <span class="float-right font-weight-bolder" id="totalPrice">$20,000,000</span>
                    </h5>
                </div>

                <!-- Stripe button section -->
                <div class="p-3">
                    <button type="button" id="placeOrderCardBtn" class="btn btn-outline-primary w-100"
                        onclick="openPayHereModal()">Stripe
                        Here</button>
                </div>
            </div>
        </div>
    </form>
</div>