@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.0.7/css/boxicons.min.css"
        integrity="sha512-1N7HQbPbZ/sFI1qoI3q6XpZZeljPMU0J4l/9FO4jRv1OKnTnJQS8+fZpC3/XwfLXzFJrZro5HIfjQrZJ/M/SVg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.2/css/boxicons.min.css">

    <style>
        .button {
            align-items: center;
            border: none;
            font-size: 16px;
            outline: none;
            cursor: pointer;
            color: #039FE2 !important;
        }

        .rounded-button-02 {
            width: 107px;
            height: 35;
            border-radius: 25px;
            background-color: #B3DDF7;

        }

        .rounded-button-02 a {
            color: #039FE2 !important;
            font-weight: 500;
        }


        .cart-icon {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: -18px;
        }

        .cart-icon img {
            width: 26px;
        }

        .cart-count {
            background-color: red;
            color: white;
            border-radius: 50%;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -8px;
            right: -8px;
            font-size: 11px;
            min-width: 20px;
            height: 20px;
            box-sizing: border-box;
        }
    </style>

</head>


<body>

    <header>
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container position-fixed top-0 end-0 p-3">
                <!-- Toasts will appear here -->
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Client" asp-action="Index">
                    <img src="~/Images/aircraftlogo.png" alt="Raythos Aerospace Logo" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Client" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Client" asp-action="About">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Client" asp-action="Shopping">CATALOGS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Client" asp-action="Contact">CONTACT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Client" asp-action="DP">DP</a>
                        </li>
                    </ul>
                </div>

                <div class="ms-auto d-flex align-items-center" style="gap: 2px;">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserID") != null)
                    {
                        <a asp-controller="Client" asp-action="Cart">
                            <div class="cart-icon">
                                <img src="/Images/Icons/shopping-bag.png" alt="Cart">
                                <div class="cart-count">1</div>
                            </div>
                        </a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='bx bxs-user-circle' style='font-size: 24px; color: grey;'></i>
                                @HttpContextAccessor.HttpContext.Session.GetString("UserName")
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-controller="Client" asp-action="Logout">Logout</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <button class="button rounded-button-02">
                            <a class="text-decoration-none" asp-controller="Client" asp-action="Login">LOGIN</a>
                        </button>
                    }

                </div>
            </div>
        </nav>
    </header>

    <div class="mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Aircraft_project
            <a asp-controller="Client" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.3/dist/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)


</body>

</html>
